/* Barre de navigation */

.flex-container-1 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
    color: hsl(236, 13%, 42%);
}

.flex-container-1 li:nth-child(1) {
    flex-grow: 1;
}
