body {
    background-color: hsl(36, 100%, 99%); 
}

/* Container du principale du site */

.app-container {
    display: flex;
    flex-flow: column;
    gap: 3rem;
    padding: 5% 10%;
}

/* Barre de navigation */

.flex-container-1 {
    display: flex;
    flex-flow: row;
}

.flex-container-1 img {
    height: 40px;
}

.right-side-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 2rem;
    color: hsl(236, 13%, 42%);
    flex-grow: 1;
}

/* Section principale du site */

.flex-container-2 {
    display :flex;
    flex-flow: row;
    gap : 2rem;
}

.left-side-2 {
    display: flex;
    flex-flow: column;
    flex-grow : 2;
    gap : 2rem;
}

.right-side-2 {
    flex-grow: 1;
    background-color: red;
    padding: 2%;
}

.left-side-2 img {
    width: 100%;
}

.flex-container-3 {
    display: flex;
    flex-flow: row;
    gap: 2rem;
}

.flex-container-3 > div:nth-child(1){
    flex-grow: 1;
    flex-basis : 0;
    background-color: yellow;
}

.flex-container-3 > div:nth-child(2){
    flex-grow: 1;
    flex-basis : 0;
    background-color: yellowgreen;
}

.headline{
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1;
}